<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)" th:remove="tag">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="${title}"></title>
        <link rel="stylesheet" type="text/css" th:href="@{/../css/styles.css}">
    </head>
    <body>
        <nav th:fragment="navigation" th:remove="tag" th:with="loggedIn = ${session.user_id != null}, currentPage = ${#httpServletRequest.getRequestURI()}">
            <ul>
                <!--/* Logged in */-->
                <li th:if="${loggedIn}">
                    <a th:href="@{/profile/my-wishlists}" th:class="${currentPage == '/profile/my-wishlists'}? 'active'">Mine ønskelister</a>
                </li>
                <li th:if="${loggedIn}">
                    <a th:href="@{/profile/reserved-wishes}" th:class="${currentPage == '/profile/reserved-wishes'}? 'active'">Reserverede ønsker</a>
                </li>
                <li th:if="${loggedIn}">
                    <p th:text="${session.user_display_name}"></p>
                    <a th:href="@{/profile/logout}">Log ud</a>
                </li>

                <!--/* Not logged in */-->
                <li th:if="not ${loggedIn}">
                    <a th:href="@{/profile/login(redirectTo=${currentPage})}" th:class="${currentPage == '/profile/login'}? 'active'">Log ind</a><!--
                    --><span class="separator"></span><!--
                    --><a th:href="@{/profile/signup}" th:class="${currentPage == '/profile/signup'}? 'active'">Opret profil</a>
                </li>
            </ul>
        </nav>
    </body>
</html>
