<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)" th:remove="tag">
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <link rel="stylesheet" type="text/css" th:href="@{../css/styles.css}">
    </head>
    <body>
        <nav th:fragment="navigation" th:remove="tag" th:if="${session.user_id != null}">
            <ul>
                <li>
                    <a th:href="@{/wishlists}">Wishlists</a>
                </li>
                <li>
                    <a th:href="@{/profile/logout}">Log out</a>
                </li>
            </ul>
        </nav>
    </body>
</html>
