<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/layout.html :: head(title = 'Wishlisting – Create wishlist')"></head>
    <body>
        <nav th:insert="fragments/layout.html :: navigation"></nav>
        <main>
            <!--/*@thymesVar id="wishlist" type="com.davidfrp.wishlisting.model.Wishlist"*/-->
            <form action="#" th:action="@{/wishlists/add}" th:object="${wishlist}" th:method="post">
                <h1>Opret en <em>ønskeliste</em></h1>
                <section th:if="${#fields.hasErrors('global')}">
                    <h3 class="error-message">Hovsa, noget gik galt</h3>
                    <p th:each="error : ${#fields.errors('global')}" th:text="${error}"></p>
                </section>
                <div class="input-wrap">
                    <input type="text" id="name" th:field="*{name}" autocomplete="off" placeholder=" "
                           maxlength="32" autocapitalize="none" spellcheck="false"
                           th:autofocus="${!#fields.hasErrors('*') || #fields.hasErrors('name')}">
                    <label for="name">Navnet på ønskelisten</label>
                    <label for="name" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></label>
                </div>
                <div class="input-wrap">
                    <input type="text" id="description" th:field="*{description}" autocomplete="off" placeholder=" "
                           maxlength="128" autocapitalize="none" spellcheck="false"
                           th:autofocus="${#fields.hasErrors('description')}">
                    <label for="description">Beskrivelse</label>
                    <label for="description" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                           class="error"></label>
                </div>
                <input type="checkbox" id="isPrivate" th:field="*{isPrivate}">
                <label for="isPrivate">Kun jeg, må kunne se denne liste</label>
                <button type="submit" class="large">Opret ønskeliste</button>
                <p><a th:href="@{/wishlists}">Annullér</a></p>
            </form>
        </main>
    </body>
</html>
