<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/layout.html :: head(title = 'Wishlisting – Add wish')"></head>
    <body>
        <nav th:insert="fragments/layout.html :: navigation"></nav>
        <main>
            <!--/*@thymesVar id="wish" type="com.davidfrp.wishlisting.model.Wish"*/-->
            <!--/*@thymesVar id="wishlist" type="com.davidfrp.wishlisting.model.Wishlist"*/-->
            <form action="#" th:action="@{/wishlists/{wishlistId}/add(wishlistId=${wishlist.id})}"
                  th:object="${wish}" th:method="post">
                <h1>Add a new <em>wish</em></h1>
                <section th:if="${#fields.hasErrors('global')}">
                    <h3 class="error-message">Oops, something went wrong</h3>
                    <p th:each="error : ${#fields.errors('global')}" th:text="${error}"></p>
                </section>
                <div class="text-field">
                    <input type="text" id="description" th:field="*{description}" autocomplete="username" placeholder=" "
                           maxlength="128" autocapitalize="none" spellcheck="false"
                           th:autofocus="${#fields.hasErrors('description')}">
                    <label for="description">Description</label>
                    <label for="description" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                           class="error"></label>
                </div>
                <button type="submit" class="large">Add wish</button>
                <p><a th:href="@{/wishlists/{wishlistId}(wishlistId=${wishlist.id})}">Cancel</a></p>
            </form>
        </main>
    </body>
</html>
