<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/layout.html :: head(title = 'Wishlisting – My wishlists')"></head>
    <body>
        <nav th:insert="fragments/layout.html :: navigation"></nav>
        <main>
            <!--/* @thymesVar id="wishlists" type="java.util.List<com.davidfrp.wishlisting.model.Wishlist>" */-->
            <h1>Mine ønskelister</h1>
            <p>Ønkselister som du selv har oprettet.</p>
            <p th:if="${#lists.isEmpty(wishlists)}">Du har ingen ønskelister.</p>
            <ul>
                <!--/* @thymesVar id="wishlist" type="com.davidfrp.wishlisting.model.Wishlist" */-->
                <li th:each="wishlist : ${wishlists}">
                    <a th:href="@{/wishlist/{wishlistId}(wishlistId=${wishlist.id})}" th:text="${wishlist.name}"></a>
                </li>
            </ul>
            <a th:href="@{/profile/my-wishlists/add}" class="button">Opret en ny ønskeliste</a>
        </main>
    </body>
</html>
