<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/layout.html :: head(title = 'Wishlisting - Wishlists')"></head>
    <body>
        <nav th:insert="fragments/layout.html :: navigation"></nav>
        <main>
            <!-- /* @thymesVar id="wishlist" type="com.davidfrp.wishlisting.model.Wishlist" */ -->
            <h1>Wishlist</h1>
            <p th:if="${#lists.isEmpty(wishlist.wishes)}">You don't have any wishes yet.</p>
            <a th:href="@{/wishlists/{wishlistId}/add(wishlistId=${wishlist.id})}">Add a new wish</a>
            <ul>
                <li th:each="wish : ${wishlist.wishes}">
                    <p th:text="${wish.description}"></p>
                    <a th:href="@{/wishlists/{wishlistId}/{wishId}/reserve(wishlistId=${wishlist.id}, wishId=${wish.id})}"
                       th:if="${wish.appointee == null}">Reserved this wish</a>
                    <strong th:if="${wish.appointee != null}" th:text="${'Reserved by: ' + wish.appointee?.displayName}"></strong>
                </li>
            </ul>
        </main>
    </body>
</html>
