<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/layout.html :: head(title = 'Wishlisting - Wishlists')"></head>
    <body>
        <main>
            <!-- /* @thymesVar id="wishlist" type="com.davidfrp.wishlisting.model.Wishlist" */ -->
            <h1>Wishlist</h1>
<!--            <p th:if="${#lists.isEmpty(wishlist.wishes)}">You don't have any wishes yet.</p>-->
<!--            <a th:href="@{/wishlists/add}">Add a new wish</a>-->
<!--            <ul>-->
<!--                <li th:each="wish : ${wishlist.wishes}">-->
<!--                    <a th:href="@{/wishlists/{wishlistId}(wishlistId=${wishlist.id})}" th:text="${wishlist.name}"></a>-->
<!--                </li>-->
<!--            </ul>-->
        </main>
    </body>
</html>
